@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=range] {
    -webkit-appearance: none;
}

.play {
    background-color: #064e3b !important;
}

.soundpad {
    display: none;
    animation: fadein .5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}